.worktrees/
.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.py[cod]
*.log
build/
dist/
*.egg-info/
**/bin/
**/obj/
src/magical_girl_glow_down/gigabyte_helper/*
!src/magical_girl_glow_down/gigabyte_helper/*.exe
